<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Bethany Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='new/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='new/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="{{ url_for('static', filename='new/vendor/aos/aos.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='new/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='new/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='new/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='new/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='new/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='new/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='new/css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Bethany
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1 class="text-light"><a href="index.html"><span>MicroBpedia</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#services">Services</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div><!-- End Header Container -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
      <h1>Your New Online Study about Micro-Organisms</h1>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="row content">
      <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
        <h2>Introduction</h2>
        <h3>Microbiology, study of microorganisms, or microbes, a diverse group of generally minute simple life-forms that include bacteria, archaea, algae, fungi, protozoa, and viruses. The field is concerned with the structure, function, and classification of such organisms and with ways of both exploiting and controlling their activities.</h3>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
        <p>
          The 17th-century discovery of living forms existing invisible to the naked eye was a significant milestone in the history of science, for from the 13th century onward it had been postulated that “invisible” entities were responsible for decay and disease. The word microbe was coined in the last quarter of the 19th century to describe these organisms, all of which were thought to be related. As microbiology eventually developed into a specialized science, it was found that microbes are a very large group of extremely diverse organisms.
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> Microbiology essentially began with the development of the microscope. Although others may have seen microbes before him, it was Antonie van Leeuwenhoek, a Dutch draper whose hobby was lens grinding and making microscopes, who was the first to provide proper documentation of his observations.  Leeuwenhoek conveyed his findings in a series of letters to the British Royal Society during the mid-1670s. </li>
          <li><i class="ri-check-double-line"></i> Girolamo Fracastoro, an Italian scholar, advanced the notion as early as the mid-1500s that contagion is an infection that passes from one thing to another. A description of precisely what is passed along eluded discovery until the late 1800s, when the work of many scientists, Pasteur foremost among them, determined the role of bacteria in fermentation and disease. Robert Koch, a German physician, defined the procedure (Koch’s postulates) for proving that a specific organism causes a specific disease.</li>
          <li><i class="ri-check-double-line"></i> The foundation of microbiology was securely laid during the period from about 1880 to 1900. Students of Pasteur, Koch, and others discovered in rapid succession a host of bacteria capable of causing specific diseases (pathogens). They also elaborated an extensive arsenal of techniques and laboratory procedures for revealing the ubiquity, diversity, and abilities of microbes.</li>
          <li><i class="ri-check-double-line"></i> Many microbiologists who worked in America at this time had studied either under Koch or at the Pasteur Institute in Paris. Once established in America, microbiology flourished, especially with regard to such related disciplines as biochemistry and genetics. In 1923 American bacteriologist David Bergey established that science’s primary reference, updated editions of which continue to be used today.</li>

        </ul>
      </div>
    </div>

  </div>
</section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">
            <div class="content">
              <h3>Types of different Microroganisms</h3>
              <p>
                The major groups of microorganisms—namely bacteria, archaea, fungi (yeasts and molds), algae, protozoa, and viruses—are summarized below. Links to the more detailed articles on each of the major groups are provided.
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon-box mt-4 mt-xl-0">
                    <h4>Spiral_Bacteria</h4>
                    <p>Spiral bacteria, bacteria of spiral ( helical) shape, form the third major morphological category of prokaryotes along with the rod-shaped bacilli and round cocci.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                  <div class="icon-box mt-4 mt-xl-0">
                    <h4>Yeast</h4>
                    <p>Yeasts are eukaryotic, single-celled microorganisms classified as members of the fungus kingdom.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                  <div class="icon-box mt-4 mt-xl-0">
                    <h4>Paramecium</h4>
                    <p>It's is a genus of eukaryotic, unicellular ciliates, commonly studied as a model organism of the ciliate group.</p>
                  </div>
                </div> 
                <div class="icon-boxes d-flex flex-column justify-content-center">
              </div>
              <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box mt-4 mt-xl-0">
                  <h4>Rod_Bacteria</h4>
                  <p>Bacillus (Latin "stick") is a genus of Gram-positive, rod-shaped bacteria, a member of the phylum Bacillota, with 266 named species.</p>
                </div>
              </div>
            <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box mt-4 mt-xl-0">
                <h4>Sperical_Bacteria</h4>
                <p>A colony of Escherichia coli [111] Unlike in multicellular organisms, increases in cell size ( cell growth) and reproduction by cell division are tightly linked in unicellular organisms</p>
              </div>
          </div>
          <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box mt-4 mt-xl-0">
              <h4>Euglena</h4>
              <p>Euglena, genus of more than 1,000 species of single-celled flagellated (i.e., having a whiplike appendage) microorganisms that feature both plant and animal characteristics</p>
            </div>
          </div>
        <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box mt-4 mt-xl-0">
            <h4>Hydra</h4>
            <p>Hydra (/ ˈ h aɪ d r ə / HY-drə) is a genus of small freshwater organisms of the phylum Cnidaria and class Hydrozoa.They are native to the temperate and tropical regions.</p>
          </div>
        </div>
        <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box mt-4 mt-xl-0">
            <h4>Amoeba</h4>
            <p>An amoeba often called an amoeboid, is a type of cell or unicellular organism with the ability to alter its shape, primarily by extending and retracting pseudopods.</p>
          </div>
        </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Services</h2>
          <p>Upload a picture to know the type of Microorganism it is.</p>
          <section id="services" class="services sections-bg">
            <div class="container" data-aos="fade-up">
        </div>
          <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-4 col-md-6">
              <div class="service-item  position-relative">
                <div class="row">
                  <div class="col-md-6 d-flex align-items-stretch">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                      <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <p>Predict the type of Micro-Organism</p>
                <a href="/Prediction" class="readmore stretched-link"><i class="bi bi-arrow-right"></i></a>
                  </div>              
              </div><!-- End Service Item -->
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Our Services Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>MicroBpedia</h3>
            <p>
              Blue Ridge, Rajiv Gandhi Infotech Park, Hinjewadi <br>
              Pune, Maharastra 411057<br>
              INDIA <br><br>
              <strong>Phone:</strong> +91 123 456 7890<br>
              <strong>Email:</strong> microbpedia@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Prediction</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Please subscribe and sign-in to get notification from our weekly newsletter and avail its benifits.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>MicroBpedia</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='new/vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='new/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='new/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='new/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='new/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='new/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='new/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='new/js/main.js') }}"></script>

</body>

</html>